<h3>Searching recipes with - <%= @search_term %> </h2>
<% @search_results.each do |recipe_group| %>



  <div class="row">
  <% recipe_group.each do |recipe| %>
      <div class="col s12 m4">
        <div>
          <img class="responsive-img" src="images/default.jpg">

        </div>
        <h5 class="center"><%= recipe.name %></h5>
        <div class="row center">
          <div class="col s6 m6">
            <i class="small material-icons v-aling">query_builder</i>
            <%= recipe.cooking_time %>
          </div>

          <div class="col s6 m6">
            <i class="small material-icons v-aling">new_releases</i>
            <%= recipe.difficulty %>
          </div>
        </div>
        <p class="light">
          <%= recipe.description %>
        </p>

          <form method='post' action="import_recipe">
            <input type="submit" class="btn-add" value="Add" >
            <input type="hidden" name="name" value='<%=recipe.name%>'>
            <input type="hidden" name="description" value="<%=recipe.description%>">
            <input type="hidden" name="cooking_time" value='<%=recipe.cooking_time%>'>
            <input type="hidden" name="difficulty" value= '<%=recipe.difficulty%>'>
            <input type="hidden" name="tested" value='<%=recipe.tested%>'>
          </form>
          </div>
  <% end %>
  </div>
<% end %>


<a href="/">Go back to Cookbook</a>
